<section class="orders-show">

  <div class="order-summary jumbotron">
    <h1>Thank you for your order!</h1>
      <header class="page-header">
      <h2>Order Summary</h2>
        <h4>Order ID: <%= @order.id %></h1>
        <h4>Email: <%= @order.email %></h4>
      </header>
    <div class="panel panel-default items">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @order.line_items.each do |item| %>
              <%= render 'item', product: get_product_info(item), item: item%>
          <% end %>
        </tbody>
      <tfoot>
          <tr>
            <th colspan="4">
              TOTAL:
            </th>
            <th>
              <%=humanized_money_with_symbol @order.total%>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
